/* Styled scrollbar for the entire page */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #5FC65F;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #00ffae;
}

/* Styled scrollbar for a specific container */
.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


